name: Feature branch

on:
  push:
    pull_request:

jobs:
  test:
    strategy:
      matrix:
        flutters:
          - version: 1.20.4
            error-skip: false
            new-analyze: false
            junit-report: true
          - version: 1.22.0
            error-skip: false
            new-analyze: false
            junit-report: true
          - version: 2.0.0
            error-skip: true
            new-analyze: false
            junit-report: false
    name: Tests on ${{ matrix.flutters.version }}
    runs-on: ubuntu-latest
    fail-fast: false
    continue-on-error: ${{ matrix.flutters.error-skip }}
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ matrix.flutters.version }}
      - name: Install dependencies
        run: flutter pub get
      - name: Analyze code
        run: flutter analyze --no-fatal-warnings --no-fatal-infos
        if: matrix.flutters.new-analyze
      - name: Analyze code
        run: flutter analyze
        if: matrix.flutters.new-analyze == 'false'
      - run: flutter test --concurrency=4 --machine > tests.json
      - run: flutter pub run junitreport:tojunit --input tests.json --output TEST-report.xml
        if: (success() || failure()) && matrix.flutters.junit-report
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Test Results (Flutter ${{ matrix.flutters.version }})
          path: TEST-report.xml

  publish-test-results:
    name: "Publish Tests Results"
    needs: test
    runs-on: ubuntu-latest
    if: success() || failure()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          check_name: Test Results
          files: "artifacts/**/*.xml"