name: Feature branch

on:
  push:
    branches-ignore:
      - 'master'

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.20.1'
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter test --concurrency=4

  update-version:
    name: Update Flutter UI Kit Version
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
      - uses: actions/checkout@v2
        with:
          repository: ChangeFinance/flutter_ui_kit
          token: ${{ secrets.REPO_CI_TOKEN }}
      - name: Run increment script
        run: ./scripts/increment-git-tag-patch.sh